.page-item.active .page-link {
  background-color: var(--mainColor) !important;
  border-color: white !important;
  cursor: pointer;
}

.page-link:active {
  color: var(--mainColor) !important;
}

.page-link:hover {
  color: var(--mainColor) !important;
}
