.page-item.active .page-link {
  background-color: #39395f !important;
  border-color: white !important;
  cursor: pointer;
}

.page-link:active {
  color: #39395f !important;
}

.page-link:hover {
  color: #39395f !important;
}
