.radioButton {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form-check > .form-check-input:checked {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
