.welcome {
  padding: 2rem;
  font-size: 232rem;
}

.welcome a {
  font-size: 1.2rem;
  color: var(--mainColor) !important;
  text-decoration: none;
}

.welcome a:hover {
  color: black !important;
}
