*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: auto;
  height: auto;
}

:root {
  --mainColor: #39395f;
}

.title {
  color: var(--mainColor);
  font-weight: bold;
  font-size: 1.5rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form-control:focus {
  border-color: var(--mainColor);
  box-shadow: 0 0 0 0.1rem var(--mainColor);
}

.textColor,
.textColor:hover {
  color: white;
}

.bgColor {
  background: var(--mainColor);
}

.buttonSize {
  width: 100%;
}

.welcome {
  padding: 2rem;
  font-size: 2rem;
}

.welcome-link a {
  font-size: 1rem;
  color: var(--mainColor);
}

.bgColor:hover {
  background: #444469;
}

.Link a {
  color: var(--mainColor);
}

.errorMessage {
  color: red;
}

.icons-cursor {
  cursor: pointer;
}

.departments-button {
  margin-right: 1rem;
}

.DeleteButton{
  background-color: red;
}